body{
    margin: 0%;
    background-color: #FEF9E6;
}


#login {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

#imgLogin {
    width: 50%;
    height: auto;

    background-image: url(../assets/fotos/login_womanPC.png);

    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.img_luz {
    width: 50px;
    height: 50px;
    margin: 5px;
}

.container {
    width: 20%;
    background-color: #84BFC3;
    border-radius: 20px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding: 50px 40px 20px 40px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    p {
        width: 90%;
        font-size: 20px;
        font-weight: 200;
    }

    input {
        width: 70%;
        height: auto;
        padding: 15px;
        border-radius: 20px;
        border: #FEF9E6 1px solid;

        color: #868686;
    }

    a {
        width: 50%;
        height: 40px;

        margin-top: 20px;
        border-radius: 10px;

        text-decoration: none;
        display: flex;
        justify-content: center;
        align-items: center;

        background-color: #D96153;
        color: white;
    }

    button:hover {
        transition: all;
    }

    #span_cadastro {
        margin-top: 50px;
        color: #FEF9E6;
    }
}

