#bobIA {
    position: fixed;
    width: 300px;
    height: 400px;
    right: 30px;
    bottom:0px ;
    background-color: rgb(64, 217, 255);
    text-align: center;
    display: flex;
    flex-direction: column;
    z-index: 4;
    border-radius: 10px;
    border:rgb(64, 217, 255) solid 10px;
}

#bobIA h1 {
    margin-top: 20px;
    padding-top: 10px;
    margin-bottom: -20px;
    
}
#bobIA h3 {

    z-index: 4;
}

#bobIA img{
    position: absolute;
    width: 20px;
    right: 0;
}

::-webkit-scrollbar{
    width: 10px;
    background-color: white;
}
::-webkit-scrollbar-thumb{
    background-color: #ED145B;
    border-radius: 20px;
    
    
}
textarea[type="text"] {
    padding: 8px;
    font-size: 16px;
    border-radius: 0px;
    width: 100%;
    position: absolute;
    bottom: 0;
}

select,
button {
    padding: 8px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    background-color: #ED145B;
    color: #FFFFFF;
    border: none;
    bottom: 50px;
    width: 100%;
    position: absolute;
}

button:hover {
    background-color: #EFB661;
}

#resposta {
    word-wrap: break-word;
    width: 100%;
    height: 230px;
    background-color: rgb(255, 255, 255);
    overflow-x: hidden;
    overflow-y: scroll;
    
}