
#sections {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 96%;
  
}

h1 {
  text-align: center;
  color: #ffb870;
  margin-top: 30px;
}


#section1 {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start; 
  width: 90%;
  gap: 20px;
  min-height: 500px; 
  margin-left: 130px;
}

#section1 .boxProdutividade {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
  width: 40%;
  margin-left: 100px;
  margin-top: 50px;
}

#section1 input {
  width: 70%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}

#section1 button {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
}

#imgCalc1 {
  width: 50%;
  height: 500px;
  background-image: url(../assets/fotos/imgCalc1.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin: 0; 
  margin-bottom: 60px;
}

#section1 #divmsg2 {
  width: 50%;
  margin: 15px 0px;
}


#section2 {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 90%;
  gap: 20px;
  margin-bottom: 100px;
}

#imgCalc2 {
  width: 50%;
  height: 500px;
  background-image: url(../assets/fotos/imgCalc2.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.calculadora-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 65%;
}

#section2 table {
  margin: 10px 0px;
  width: 100%;
  border: #000000 1px solid;
  text-align: start;
  padding: 15px 35px;
}

#section2 input,
#section2 select {
  width: 70%;
  margin: 10px 0;
  padding: 10px;
  border-radius: 10px;
}

input,
select {
  width: 90%;
  padding: 10px;
  border-radius: 10px;
  margin: 10px 0;
}

button {
  width: 50%;
  padding: 10px;
  border-radius: 10px;
  background-color: #ffb870;
  font-weight: 700;
}

#section2 #divmsg {
  margin: 15px 0px;
}

.subtitulo {
  margin-bottom: 5px;
  font-size: 20px;
}

#section2 .subtitulo {
 margin-top: 30px;
}